<div id="content" class="content content-full-width mt-4">
  <div class="profile">
    <div class="profile-header">
      <div class="profile-header-cover"></div>
      <div class="profile-header-content">
        <div class="profile-header-img">
          <img *ngIf="user.profile_pic" [src]="user.profile_pic" alt="Image Source" >
        </div>
        <div class="profile-header-info">
          <h4 class="m-t-10 m-b-5">{{user.name}}</h4>
          <p class="m-b-10">title</p>
          <a  class="btn btn-sm btn-info mb-2" (click)="selected(2)" *ngIf="user.id==userProfileShort.id">Edit Profile</a>
        </div>
      </div>
      <ul class="profile-header-tab nav nav-tabs">
        <li class="nav-item" ><a  class="nav-link active show" data-toggle="tab" (click)="selected(0)">POSTS</a></li>
        <li class="nav-item"><a  class="nav-link" data-toggle="tab" (click)="selected(1)">ABOUT</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="Cont">
  <div class="feeds">
<div *ngIf="isSelectedItem == 0">
  <app-feed-item *ngFor="let item of feedList; let i = index" [feed]="item" (feedStatusChange)="loadPosts(user.user_handle)"></app-feed-item>
  <div *ngIf="feedList.length == 0">
    <mat-card-header>
      No user activity has been recorded yet.
    </mat-card-header>
  </div>
</div>
    <div *ngIf="isSelectedItem == 1">
      nnnn
    </div>
    <div *ngIf="isSelectedItem == 2">
          <!--        <div class="flex-it image">-->
          <!--          <input type="file" accept="image/*" [(ngModel)]="imageSrc">-->
          <!--        </div>-->
          <div class="flex-it">
            <mat-form-field class="card-item">
              <mat-label>Full name</mat-label>
              <input matInput placeholder="name" [(ngModel)]="user.name" >
            </mat-form-field>
            <mat-form-field class="card-item">
              <mat-label>Username</mat-label>
              <input matInput placeholder="username" [(ngModel)]="user.user_handle" >
            </mat-form-field>
          </div>

          <mat-form-field class="card-item">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"  [(ngModel)]="user.email_id" >
          </mat-form-field>

          <mat-form-field class="card-item">
            <mat-label>Bio</mat-label>
            <input matInput placeholder="Bio"  [(ngModel)]="user.bio" >
          </mat-form-field>
          <div class="flex-it center">
            <button
              (click)="modifyUpUser()"
              mat-raised-button
              color="primary"
              style="margin-top: 1em; background-color: rgb(29, 161, 242);">enregistrer
            </button>
          </div>
    </div>
  </div>
</div>
